{% extends 'base.html' %} {% load static %} {% block content %}

<div class="back-wrapper">
  <div class="back-wrapper-inner">
    <!-- Back Breadcrumbs Start Here -->
    <div class="back-breadcrumbs">
      <div class="breadcrumbs-wrap">
        <img
          class="desktop"
          src="{% static 'assets2/images/breadcrumbs/banner-inner.jpg' %}"
          alt="Breadcrumbs Image"
        />

        <img
          class="mobile"
          src="{% static 'assets2/images/breadcrumbs/banner-inner-mobile.jpg' %}"
          alt="Breadcrumbs Image"
        />
        <div class="breadcrumbs-inner">
          <div class="container">
            <div class="breadcrumbs-text">
              <h1 class="breadcrumbs-title">About Us</h1>
              <div class="back-nav">
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li>About Us</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Back Breadcrumbs End Here -->

    <!-- Start About here -->
    <div class="back-about pt-120 md-pt-60 pb-50 md-pb-80">
      <div class="container">
        <div class="row align-items-center">
          <div class="offset-lg-1"></div>
          <div class="col-lg-5 col-sm-12">
            <div>
              <iframe
                width="100%"
                height="600"
                src="https://www.youtube.com/embed/phOs-phSTh4?si=waLCfGCrnwmxtrqx"
              >
              </iframe>
              <div class="about-text">
                <h3 class="about-text-title">2017</h3>
                <p class="about-text-desc">
                  5+ years of <br />constant value delivery.
                </p>
              </div>
            </div>
          </div>
          <div class="offset-lg-1"></div>
          <div class="col-lg-5">
            <div class="back-sec-title">
              <h5 class="back-subtitle">About Our Company</h5>
              <h2 class="back-title">Overview</h2>
            </div>
            <div class="counter-part">
              <div class="">
                <p>
                  xanderfx the ultimate solution for converting your
                  cryptocurrency holdings into cash instantly. Our platform is
                  designed to provide you with a seamless and secure experience,
                  making it easy to access the cash you need when you need it.
                </p>
                <h5>Key Features:</h5>
                <ol>
                  <li>
                    <strong>Effortless Crypto-to-Cash Conversion:</strong> [Your
                    Application Name] simplifies the process of exchanging your
                    digital assets for cash. No more waiting for buyers or
                    dealing with complex trading interfaces.
                  </li>
                  <li>
                    <strong>Wide Range of Supported Cryptocurrencies:</strong>
                    We accept a diverse array of cryptocurrencies, ensuring you
                    can convert your preferred digital assets into cash,
                    including Bitcoin (BTC), Ethereum (ETH), Litecoin (LTC), and
                    more.
                  </li>
                  <li>
                    <strong>Transparent and Competitive Rates:</strong> Our
                    platform offers competitive exchange rates, providing you
                    with the best value for your crypto assets. We are
                    transparent about our fees, so you always know what to
                    expect.
                  </li>
                  <li>
                    <strong>Secure and Trustworthy:</strong> Your security is
                    our top priority. [Your Application Name] employs robust
                    encryption and industry-standard security measures to
                    safeguard your transactions and personal information.
                  </li>
                  <li>
                    <strong>Quick Processing:</strong> We understand the
                    importance of speed. Most transactions are processed
                    swiftly, allowing you to access your cash without
                    unnecessary delays.
                  </li>
                  <li>
                    <strong>Flexibility for All Users:</strong> Whether you're
                    looking to exchange a small amount or a large sum, our
                    platform accommodates transactions of various sizes, giving
                    you the flexibility you need.
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div class="pt-20 pb-120">
          <div class="container">
            <h2 class="back-title">
              Registered & Authorised for Financial Services
            </h2>

            <p>
              We take pride in offering exceptional customer support. Our
              dedicated team is available to assist you with any questions or
              concerns you may have. Whether you need assistance with a
              transaction or have general inquiries, we're here to provide you
              with the help you need.
            </p>

            <p>
              Join the growing community of satisfied users who have harnessed
              the power of xanderfx to transform their cryptocurrency holdings
              into cash instantly. Experience the freedom and convenience of
              having cash on hand whenever you need it, backed by the
              reliability and security of our platform.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End About here -->

    <!--Icon Section Start-->
    <div class="back-simple-icon pb-120 pt-120">
      <div class="container">
        <div class="back-sec-title text-center mb-80 md-mb-30">
          <h2 class="back-title mb-0">
            Why People Choose <br />
            xanderfx
          </h2>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="back-inner">
              <div class="icon happy-icon">
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
                  ></path>
                </svg>
                <span>1</span>
              </div>
              <div class="back-text">
                <h3 class="title">TRUSTED</h3>
                <p>
                  xanderfx Advisors is the trusted partner for institutional and
                  individual investors interested in digital currencies and the
                  growing digital economy.
                </p>
              </div>
            </div>
          </div>
          <!--   <div class="col-md-4">
                        <div class="back-inner">
                            <div class="icon map-icon">                                        
                                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"></path>
                                </svg>

                                <span>2</span>
                            </div>                            
                            <div class="back-text">
                                <h3 class="title">REGULATED</h3>
                                <p>CoinTrack Advisors’ products operate within existing regulatory frameworks, and its hallmark products are the ﬁrst SEC reporting funds in the industry.</p>
                                
                            </div>
                        </div>
                    </div> -->
          <div class="col-md-4">
            <div class="back-inner">
              <div class="icon support-icon">
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
                  ></path>
                </svg>
                <span>2</span>
              </div>
              <div class="back-text">
                <h3 class="title">EASY</h3>
                <p>
                  Clients can seamlessly exchange crypto for cash digitally.
                </p>
              </div>
            </div>
          </div>
          <div
            style="
              display: flex;
              justify-content: center;
              margin-top: 2rem;
              flex-wrap: wrap;
            "
          >
            <div class="col-md-4">
              <div class="back-inner">
                <div class="icon support-icon">
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z"
                    ></path>
                  </svg>
                  <span>3</span>
                </div>
                <div class="back-text">
                  <h3 class="title">EXPERT</h3>
                  <p>
                    xanderfx is a digitally-native company, and has unique,
                    early insight into innovations with growth potential in the
                    digital economy.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="back-inner">
                <div class="icon support-icon">
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"
                    ></path>
                  </svg>
                  <span>4</span>
                </div>
                <div class="back-text">
                  <h3 class="title">SCALED</h3>
                  <p>
                    xanderfx products lead the industry in terms of availability
                    and scale, both in opportunities and liquidity.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Icon Section End-->

    <!-- Start Team here -->
    {% comment %}
    <div class="back-team back-agent">
      <div class="container">
        <div class="back-sec-title text-center mb-50 md-mb-30">
          <h5 class="back-subtitle">Team</h5>
          <h2 class="back-title mb-0">Administrative Team</h2>
          <p>The awesome administrative executives behind CoinTrack Advisors</p>
        </div>
        <div class="team-slider owl-carousel">
          <div class="single-team">
            <div class="team-img">
              <img
                style="height: 450px; object-fit: cover"
                src="{% static 'assets2/images/team/dennis-kawin-cfo.jpg' %}"
                alt="Team Image"
              />
              <div class="team-info">
                <p class="desgnation">CFO</p>
                <h3 class="name"><a href="#">Dennis Kawin</a></h3>
              </div>
            </div>
          </div>
          <div class="single-team">
            <div class="team-img">
              <img
                style="height: 450px; object-fit: cover"
                src="{% static 'assets2/images/team/phylis-katyal-ceo.jpg' %}"
                alt="Team Image"
              />
              <div class="team-info">
                <p class="desgnation">CEO</p>
                <h3 class="name"><a href="#">Phylis Katyal</a></h3>
              </div>
            </div>
          </div>
          <div class="single-team">
            <div class="team-img">
              <img
                style="height: 450px; object-fit: cover"
                src="{% static 'assets2/images/team/co.jpg' %}"
                alt="Team Image"
              />
              <div class="team-info">
                <p class="desgnation">CoFounder</p>
                <h3 class="name"><a href="#">Sarah Kim</a></h3>
              </div>
            </div>
          </div>
          <div class="single-team">
            <div class="team-img">
              <img
                style="height: 450px; object-fit: cover"
                src="{% static 'assets2/images/team/cto.jpg' %}"
                alt="Team Image"
              />
              <div class="team-info">
                <p class="desgnation">CTO</p>
                <h3 class="name"><a href="#">Pek Nguyen</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
    <!-- End Team here -->
  </div>
</div>
{% endblock %}
