{% extends 'base.html' %} {% load static %} {% block content %}
<div class="back-wrapper">
  <div class="back-wrapper-inner">
    <!-- Back Breadcrumbs Start Here -->
    <div class="back-breadcrumbs">
      <div class="breadcrumbs-wrap">
        <img
          class="desktop"
          src="{% static 'assets2/images/breadcrumbs/banner-inner.jpg' %}"
          alt="Breadcrumbs Image"
        />
        <img
          class="mobile"
          src="{% static 'assets2/images/breadcrumbs/banner-inner-mobile.jpg' %}"
          alt="Breadcrumbs Image"
        />
        <div class="breadcrumbs-inner">
          <div class="container">
            <div class="breadcrumbs-text">
              <h1 class="breadcrumbs-title">Escrow Service</h1>
              <div class="back-nav">
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li>Escrow Service</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Back Breadcrumbs End Here -->

    <!-- Start Blog here -->
    <div id="back-blog" class="back-blog-single">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="blog-single-inner">
              <div class="blog-content">
                <p>
                  Escrow is a legal concept in which a financial instrument or
                  an asset is held by a third party on behalf of two other
                  parties that are in the process of completing a transaction.
                  The funds or assets are held by in escrow until it receives
                  the appropriate instructions or until predetermined
                  contractual obligations have been fulfilled. Money,
                  securities, funds and other assets can all be held in escrow.
                </p>
                <p>
                  Escrow comes into play when two parties are in the process of
                  completing a transaction and there is uncertainty over whether
                  one party or another will be able to fulfill their
                  obligations.
                </p>
                <p>
                  For example, a client wants to sell bitcoin but is not certain
                  that the buyer is real or not a fraud also the buyer is not
                  sure that the seller is real and won't disappear with funds
                  after payment. So to resolve this situation we hold the
                  bitcoin and the funds in escrow and remit both to the
                  appropriate parties immediately both parties fulfil their
                  payment obligation. This way, both parties are safe, and the
                  transaction can proceed.
                </p>
                <p>To use our escrow service contact our help desk</p>

                <!-- Start slide here -->
                <div class="back-team back-agent">
                  <div class="container">
                    <div class="team-slider owl-carousel">
                      <div class="single-team">
                        <img
                          style="max-height: 100px; object-fit: cover"
                          src="{% static 'assets2/images/escrow/1.png' %}"
                          alt="Team Image"
                        />
                      </div>
                      <div class="single-team">
                        <img
                          style="max-height: 100px; object-fit: cover"
                          src="{% static 'assets2/images/escrow/2.png' %}"
                          alt="Team Image"
                        />
                      </div>
                      <div class="single-team">
                        <img
                          style="max-height: 100px; object-fit: cover"
                          src="{% static 'assets2/images/escrow/3.png' %}"
                          alt="Team Image"
                        />
                      </div>
                      <div class="single-team">
                        <img
                          style="max-height: 100px; object-fit: cover"
                          src="{% static 'assets2/images/escrow/4.png' %}"
                          alt="Team Image"
                        />
                      </div>
                      <div class="single-team">
                        <img
                          style="max-height: 100px; object-fit: cover"
                          src="{% static 'assets2/images/escrow/5.png' %}"
                          alt="Team Image"
                        />
                      </div>
                      <div class="single-team">
                        <img
                          style="max-height: 100px; object-fit: cover"
                          src="{% static 'assets2/images/escrow/6.png' %}"
                          alt="Team Image"
                        />
                      </div>
                      <div class="single-team">
                        <img
                          style="max-height: 100px; object-fit: cover"
                          src="{% static 'assets2/images/escrow/7.png' %}"
                          alt="Team Image"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End slide here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
