{% extends 'base.html' %} {% load static %} {% block content %}

<div class="back-wrapper">
  <div class="back-wrapper-inner">
    <!-- Back Breadcrumbs Start Here -->
    <div class="back-breadcrumbs">
      <div class="breadcrumbs-wrap">
        <img
          class="desktop"
          height="450px"
          src="{% static 'assets2/images/breadcrumbs/bitcoin-cash.jpg' %}"
          alt="Breadcrumbs Image"
        />

        <img
          class="mobile"
          src="{% static 'assets2/images/breadcrumbs/banner-inner-mobile.jpg' %}"
          alt="Breadcrumbs Image"
        />
        <div class="breadcrumbs-inner">
          <div class="container">
            <div class="breadcrumbs-text">
              <h1 class="breadcrumbs-title" style="color: #000">
                Initiate Crypto Transfer
              </h1>
              <div class="back-nav">
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li>Crypto Transfer</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Back Breadcrumbs End Here -->
    <div class="container mt-5">
      <h2>Initiate Crypto Transfer</h2>
      <form
        id="cryptoForm"
        class="m-2"
        method="POST"
        action="{% url 'validate_email' %}"
      >
        {% csrf_token %}
        <div class="form-group">
          <label for="emailInput">Email address</label>
          <input
            type="email"
            class="form-control"
            id="emailInput"
            required
            name="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <button type="submit" style="" class="btn btn-primary m-2">Next</button>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
