{% extends 'dashboard_base.html' %} {% load static %} 
{% block content %} 

<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card p-5 text-center">
          <h2>Thank you, your deposit request has been initialized</h2>
          <p>Kindly send a mail to <a href="mailto:payment@cointrackadvisor.com">payment@cointrackadvisor.com</a> with your details to complete this payment.</p>
          <p>If you have any issues, kindly use the chat feature at the bottom right of the page to speak with one of our support teams.</p>
          <div class="mt-1">
            <img src="{% static 'assets/images/money_image.png' %}" alt="Image" style="width: 300px; height: auto;"/>
          </div>
          <div class="mt-2">
            <!-- Icons and images can be added here -->
            <i class="fa fa-bank" style="font-size: 48px; color: #007bff;"></i>
            <!-- Go back to dashboard button -->
            <a href="{% url 'dashboard' %}" class="btn btn-primary mt-3">Go back to dashboard</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid sticky-bottom">
  <div class="dashboard-footer">
    <div
      class="d-flex flex-wrap justify-content-between m-0-15-none"
    >
      <div class="left">
        &copy; 2023
        <a href="{% url 'home' %}">Gen Capitals</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
{% block tradingView %} 

{%endblock%}