{% extends 'base.html' %} {% load static %} {% block content %}
<div class="back-wrapper">
  <div class="back-wrapper-inner">
    <!-- Back Breadcrumbs Start Here -->
    <div class="back-breadcrumbs">
      <div class="breadcrumbs-wrap">
        <img
          class="desktop"
          src="{% static 'assets2/images/breadcrumbs/banner-inner.jpg' %}"
          alt="Breadcrumbs Image"
        />
        <img
          class="mobile"
          src="{% static 'assets2/images/breadcrumbs/banner-inner-mobile.jpg' %}"
          alt="Breadcrumbs Image"
        />
        <div class="breadcrumbs-inner">
          <div class="container">
            <div class="breadcrumbs-text">
              <h1 class="breadcrumbs-title">Our Thesis</h1>
              <div class="back-nav">
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li>Thesis</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Back Breadcrumbs End Here -->

    <!-- Start Service here -->
    <div class="back-service style3">
      <div class="container">
        <div class="back-sec-title text-center">
          <h5 class="back-subtitle secondary-color">Why now?</h5>
          <h2 class="back-title mb-0">
            Three Powerful Cultural and Technological Forces are Colliding
            Simultaneously
          </h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 border-style border-right">
            <div class="single-service">
              <h1 class="service-title text-center">1</h1>
              <p class="service-title-desc text-center">
                The erosion of consumer trust in governments and corporations
              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-6 border-style border-bottom border-right"
          >
            <div class="single-service mb-15 md-mb-0">
              <h1 class="service-title text-center">2</h1>
              <p class="service-title-desc text-center">
                Crypto networks unlock novel ways to organize economic activity
                and incentivize human behavior using new programmatic systems
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 border-style border-right">
            <div class="single-service">
              <h1 class="service-title text-center">3</h1>
              <p class="service-title-desc text-center">
                Software is eating finance, including the foundational concept
                of money
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Service here -->

    <!-- Start About here -->
    <div class="back-about pt-20 md-pt-20 pb-20 md-pb-20">
      <div class="container">
        <div class="row align-items-center">
          <div class="offset-lg-1"></div>
          <div class="col-lg-5 col-sm-12">
            <div>
              <img
                src="{% static 'assets2/images/service/readmore1.jpg' %}"
                alt=""
                width="100%"
              />
            </div>
          </div>
          <div class="offset-lg-1"></div>
          <div class="col-lg-5 pt-10">
            <div class="back-sec-title">
              <h5 class="back-subtitle">
                THREE MACRO INVESTMENT THESES FOR CRYPTO
              </h5>
              <h2 class="back-title">The Open Finance Renaissance</h2>
            </div>
            <div class="counter-part">
              <div class="">
                <p>
                  By making all units of value—stocks, bonds, real estate,
                  currencies, and so forth—interoperable, programmable, and
                  composable on distributed ledgers, capital markets will become
                  more efficient and accessible to everyone on the planet.
                </p>

                <p>
                  Just as the proliferation of capital markets over the last 100
                  years supported staggering levels of wealth creation, the
                  permissionless, expansionary effect of open finance will pave
                  the way for new services and applications that will deliver
                  tremendous value.
                </p>

                <div class="about-btn about-btn-two">
                  <a
                    href="thesis/gencapitals-investment-thesis.html"
                    class="back-btn secondary"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End About here -->

    <!-- Start About here -->
    <div class="back-about pt-20 md-pt-20 pb-20 md-pb-20">
      <div class="container">
        <div class="row align-items-center">
          <div class="offset-lg-1"></div>

          <div class="col-lg-5">
            <div class="back-sec-title">
              <h2 class="back-title">The Web3 Vision</h2>
            </div>
            <div class="counter-part">
              <div class="">
                <p>
                  Whereas the open finance thesis is based on the idea of
                  programmable money, the Web3 thesis is based on the vision of
                  self-sovereign data. The Web3 vision empowers consumers to own
                  their own data. This stands in stark contrast to the status
                  quo, in which tech giants, banks, and credit bureaus control
                  consumers' data. As this paradigm shifts, incumbents will lose
                  their primary competitive advantage—their data
                  monopolies—unlocking a massive wave of innovation and value
                  creation.
                </p>

                <p>
                  When consumers own their own data, data monopolies will
                  crumble. The second and third order effects of this will be
                  profound, enabling the creation of new businesses and services
                  that we can’t yet imagine
                </p>

                <div class="about-btn about-btn-two">
                  <a
                    href="thesis/gencapitals-investment-thesis.html"
                    class="back-btn secondary"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-sm-12 pb-20">
            <div>
              <img
                src="{% static 'assets2/images/service/readmore2.jpg' %}"
                alt=""
                width="100%"
              />
            </div>
          </div>
          <div class="offset-lg-1"></div>
        </div>
      </div>
    </div>
    <!-- End About here -->

    <!-- Start About here -->
    <div class="back-about pt-20 md-pt-20 pb-20 md-pb-20">
      <div class="container">
        <div class="row align-items-center">
          <div class="offset-lg-1"></div>
          <div class="col-lg-5 col-sm-12">
            <div>
              <img
                src="{% static 'assets2/images/service/readmore3.jpg' %}"
                alt=""
                width="100%"
              />
            </div>
          </div>
          <div class="offset-lg-1"></div>
          <div class="col-lg-5 pt-10">
            <div class="back-sec-title">
              <h2 class="back-title">Global, State-Free Money</h2>
            </div>
            <div class="counter-part">
              <div class="">
                <p>
                  Many think of this as just “Digital Gold.” However we find
                  that the digital gold framing is too narrow and substantially
                  understates the opportunity. Global, state-free money is a
                  superset of digital gold in terms of breadth and use cases,
                  and it represents a dramatically larger market.
                </p>

                <p>
                  We expect the first digitally-native money to function as
                  digital gold, but then also absorb some of the monetary premia
                  of other non-gold stores of wealth. This is market
                  expansionary to the current $7 trillion market cap of gold in
                  the same way that Uber was market expansionary to taxis.
                </p>

                <div class="about-btn about-btn-two">
                  <a
                    href="thesis/gencapitals-investment-thesis.html"
                    class="back-btn secondary"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End About here -->
  </div>
</div>
{% endblock %}
